* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
}

.container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 10px;
}

img {
    height: 200px;
    width: 300px;
}